.movies {
    padding: 0 70px;
    display: grid;
    gap: 24px;
}

.movies__button-container {
    display: flex;
    justify-content: center;
}

.movies__button {
    margin: 50px 0 80px;
    width: 320px;
    height: 36px;
    background-color: #F9F9F9;
    color: #000;
    text-align: center;
}

.movies__container {
    display: grid;
    gap: 37px 24px;
    grid-template-columns: 1fr 1fr 1fr;
}