.techs {
    padding: 100px 70px;
    background-color: #F5F5F5;
}

.techs__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    margin: 0;
    padding-bottom: 23px;
    border-bottom: 1px solid #000000;
}

.techs__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    margin: 90px 0 26px;
    padding: 0;
}

.techs__info {
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 0;
    max-width: 460px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.techs__container { 
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.techs__techs-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 90px;
    height: 60px;
    background-color: #E8E8E8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

@media screen and (max-width: 810px) {
    .techs {
        padding: 90px 50px;
    }
}

@media screen and (max-width: 810px) {
    .techs__title {
        margin: 80px 0 22px;
    }
}

@media screen and (max-width: 810px) {
    .techs__info {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 83px;
    }
}

@media screen and (max-width: 810px) {
    .techs__techs-item {
        font-size: 12px;
        line-height: 15px;
        width: 84px;
        height: 57px;
    }
}

@media screen and (max-width: 550px) {
    .techs {
        padding: 70px 18px;
    }
}

@media screen and (max-width: 550px) {
    .techs__heading {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 28px;
    }
}

@media screen and (max-width: 550px) {
    .techs__title {
        margin: 60px 0 24px;
        font-size: 30px;
        line-height: 36px;
    }
}

@media screen and (max-width: 550px) {
    .techs__info {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 550px) {
    .techs__container {
        gap: 10px;
    }
}
