.link {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.link:hover {
    opacity: 0.5;
}